.sideNav {
  margin-top: -60px;
  position: fixed;
  padding: 10px;
}
.link {
  color: #004c97;
  text-decoration: none;
}
.sidetext {
  font-weight: bolder;
}
.headertext {
  font-weight: bolder;
  color: #004c97;
}
/* .homepagebox {
  /* background-image: url("./images/background.jpeg"); */

.par {
  color: white;
  font-weight: bolder;
  font-size: 2rem;
}
.homeitem {
  margin-top: 10%;
}
.h2home {
  font-weight: bolder;
}
.spacing {
  margin-top: 5%;
}
.formspacing {
  margin-left: 20;
  margin-right: 20;
}


